<% content_for :title do %>javascript audio time sync<% end %>
    

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-pencil"></i> Simple API</h3>
                    <p>FreakSync is an elegant and lightweight solution for time synchronization. You'll be up and running
                    with just a few lines of code. It's simple, you'll be up and running in no time. <a href="/code">Check it out!</a></p>
                </div>
                 <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-gear"></i> Perfect Synchronization</h3>
                    <p>Adapted from the algorithm that fireflies use to synchronize their lights, FreakSync does the same via audio. This results in millisecond perfect time synchronizations that don't require internet! <a href="/demo">Try the demo (you'll need two devices)!</a></p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Web Standard</h3>
                    <p>Built on the Web Audio API, FreakSync is supported on all devices that can run modern day
                    browsers such as <a href="http://caniuse.com/audio-api">Chrome and Firefox</a>. This includes mobile devices! Anything with speakers and a microphone can FreakSync'd!</p>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>FreakSync: sound based time synchronization for the Web!</h2>
                    <p>A powerful and compact toolkit written in javascript that allows you to locally sync your devices percisely and quickly. It's the perfect tool for performing timed sensitive actions among multiple devices.<br><br><p style="float:right;">written for LA Hacks by <a href="http://jiexi.co">Jiexi Luan</a></p></p>
                    <hr>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->
